<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<% for ( var i = 0; i < emojiGroups.length; i++ ) { %>
	<dict>
		<key>Name</key>
		<string><%=emojiGroups[i].name%></string>
		<key>Type</key>
		<string><%=emojiGroups[i].type%></string>
		<key>File</key>
		<string><%=emojiGroups[i].exportFile==null?emojiGroups[i].file:emojiGroups[i].exportFile%></string>
		<key>Icon</key>
		<string><%=emojiGroups[i].exportIcon==null?emojiGroups[i].icon:emojiGroups[i].exportIcon%></string>
	</dict>
	<% } %>
	<dict>
		<key>Icon</key>
		<string>icon.png</string>
		<key>Name</key>
		<string>颜文字</string>
		<key>Type</key>
		<string>face</string>
		<key>File</key>
		<string><%=emoticonFile%></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>个人表情</string>
		<key>Type</key>
		<string>personal</string>
		<key>File</key>
		<string>personal</string>
		<key>Icon</key>
		<string>icon.png</string>
		<key>Demo</key>
		<string>demo.png</string>
		<key>Uid</key>
		<string>0</string>
	</dict>
</array>
</plist>
