<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="AMS" class="text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Appearance Manage System for Baidu Input Method
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://wiki.baidu.com/pages/viewpage.action?pageId=70926042" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Congrats! You're using the AMS.</h2>
    <p>AMS is a web application for manage appearance of BaiduInputMethod</p>
    <p>Click <em>Sign In</em> to get started.</p>
    <ul>
      <li>
        Edit appearance of BaiduInputMethod, like emoji,tabbar, and so on...<br/>
        <em>After editing, do not forget output plist and input to xcode</em>
      </li>
      <li>
        Create Appearance Package to downloading
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2><strong>Package</strong></h2>
      <ul>
        <li>
          <a target="_blank" href="http://wiki.baidu.com/pages/viewpage.action?pageId=70926042">Format</a>
        </li>
        <li>
          <a target="_blank" href="http://wiki.baidu.com/pages/viewpage.action?pageId=70926042">Picture</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2><strong>Downloading</strong></h2>
      <p><a target="_blank" href="http://wiki.baidu.com/pages/viewpage.action?pageId=70926042">Downloading</a></p>
    </div>
    <div class="col-md-4">
      <h2><strong>Version</strong></h2>
      <p><a target="_blank" href="http://wiki.baidu.com/pages/viewpage.action?pageId=70926042">Version</a></p>
    </div>
  </div>
  <div class="well">
    <h2>Support Documentation</h2>
    <p>
      <ul>
        <li><a target="_blank" href="http://meanjs.org">MEAN.JS</a>
        </li>
        <li><a target="_blank" href="http://mongodb.org/">MongoDB</a>
        </li>
        <li><a target="_blank" href="http://expressjs.com/">Express</a>
        </li>
        <li><a target="_blank" href="http://nodejs.org/">Node.js</a>
        </li>
        <li><a target="_blank" href="http://angularjs.org/">AngularJS</a>
        </li>
      </ul>
    </p>
  </div>
  <br>Any problem, mail to <a href="mailto:huangliangliang@baidu.com">@huangliangliang</a> or <a href="mailto:could_hll@hotmail.com">@CouldHll</a>
</section>
