<h2>{{title}}</h2>
<div id="grid" ui-grid="gridOptions" class="grid" ui-grid-edit ui-grid-selection ui-grid-draggable-rows ui-grid-exporter ui-grid-importer />
<button type="button" id="addOne" class="btn btn-warning" ng-click="addOne()">{{ 'SYSTEM_ADD' | translate }} {{title}} @{{ 'SYSTEM_LAST' | translate }}{{name==null?'':' in '+name}}</button>
<button type="button" id="removeOne" class="btn btn-danger" ng-click="removeOne()">{{ 'SYSTEM_REMOVE' | translate }} {{title}} {{selectOne.title!=null?selectOne.title:selectOne.name}}</button>
