<section ng-controller="ExportSuperwordsController">
  <div class="page-header">
    <h1>{{ 'SUPERWORD_EXPORT_TITLE' | translate }}</h1>
  </div>
  <h2>{{ 'SUPERWORD_EXPORT_GROUP_TITLE' | translate }}</h2>
  <div ui-grid="superwordGroupGridOptions" class="grid" ui-grid-selection ui-grid-exporter>
  </div>
  <div class="form-group">
    <label for="export">{{ 'SYSTEM_LOCAL' | translate }}:</label>
    <div class="btn-group">
      <button type="button" id="exportAll" class="btn btn-primary" ng-click="exportAll(null)">All</button>
      <button ng-repeat="template in templates" type="button" id="export" class="btn btn-success" ng-click="export(null,template)">{{template.start}}~{{template.end}}</button>
    </div>
  </div>
  <div class="form-group">
    <label for="export">{{ 'SYSTEM_PACKAGE' | translate }}:</label>
    <div class="btn-group">
      <button type="button" id="exportAll" class="btn btn-primary" ng-click="exportAll('Resource')">All</button>
      <button ng-repeat="template in templates" type="button" id="export" class="btn btn-success" ng-click="export('Resource',template)">{{template.start}}~{{template.end}}</button>
    </div>
  </div>
  <div class="text-center form-group">
  <button type="button" id="next" class="btn btn-success" ng-click="next()" ng-show="packages!=null">Next Feature</button>
</div>
</section>
