<section ng-controller="ManageSuperwordsController">
  <div class="page-header">
    <h1>{{ 'SUPERWORD_MANAGE_TITLE' | translate }}</h1>
  </div>
  <ui-grid-one title="{{ 'SUPERWORD_MANAGE_GROUP_TITLE' | translate }}" data="superwordGroups" grid-options="groupGridOptions" add-click="addGroup()" remove-click="removeGroup(removeEntity)" begin-cell-edit="beginEditGroup(rowEntity, colDef, triggerEvent)" after-cell-edit="afterEditGroup(rowEntity, colDef, newValue, oldValue)" row-selection-changed="rowSelectionChangedGroup(row)" uploader="uploader"></ui-grid-one>
  <br />
  <ui-grid-one title="{{ 'SUPERWORD_MANAGE_ONE_TITLE' | translate }}" name="selectSuperwordGroup.name" data="superwords" grid-options="superwordGridOptions" add-click="addSuperword()" remove-click="removeSuperword(removeEntity)" after-cell-edit="afterEditSuperword(rowEntity, colDef, newValue, oldValue)" import-click="importSuperword(grid, newObjects)"></ui-grid-one>
</section>
