<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>最近表情</string>
		<key>Type</key>
		<string>last</string>
		<key>File</key>
		<string>last</string>
		<key>Icon</key>
		<string>icon.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>系统表情</string>
		<key>Type</key>
		<string>system</string>
		<key>File</key>
		<string>system1</string>
		<key>Icon</key>
		<string>icon.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>系统表情</string>
		<key>Type</key>
		<string>system</string>
		<key>File</key>
		<string>system2</string>
		<key>Icon</key>
		<string>icon.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>系统表情</string>
		<key>Type</key>
		<string>system</string>
		<key>File</key>
		<string>system3</string>
		<key>Icon</key>
		<string>icon.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>系统表情</string>
		<key>Type</key>
		<string>system</string>
		<key>File</key>
		<string>system4</string>
		<key>Icon</key>
		<string>icon.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>系统表情</string>
		<key>Type</key>
		<string>system</string>
		<key>File</key>
		<string>system5</string>
		<key>Icon</key>
		<string>icon.png</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>icon.png</string>
		<key>Name</key>
		<string>颜文字</string>
		<key>Type</key>
		<string>face</string>
		<key>File</key>
		<string>face</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>个人表情</string>
		<key>Type</key>
		<string>personal</string>
		<key>File</key>
		<string>personal</string>
		<key>Icon</key>
		<string>icon.png</string>
		<key>Demo</key>
		<string>demo.png</string>
		<key>Uid</key>
		<string>0</string>
	</dict>
</array>
</plist>
