<section ng-controller="ManageDiscoverycentermenusController">
  <div class="page-header">
    <h1>{{ 'DISCOVERYCENTERMENU_MANAGE_TITLE' | translate }}</h1>
  </div>
  <ui-grid-one title="{{ 'DISCOVERYCENTERMENU_MANAGE_ONE_TITLE' | translate }}" data="discoverycentermenus" grid-options="discoverycentermenuGridOptions" add-click="addDiscoverycentermenu()" remove-click="removeDiscoverycentermenu(removeEntity)" begin-cell-edit="beginEditDiscoverycentermenu(rowEntity, colDef, triggerEvent)" after-cell-edit="afterEditDiscoverycentermenu(rowEntity, colDef, newValue, oldValue)" import-click="importDiscoverycentermenu(grid, newObjects)" uploader="uploader" upload-click="uploadPicture()"></ui-grid-one>
</section>
