<section ng-controller="ManageDiscoverycenterbannersController">
  <div class="page-header">
    <h1>{{ 'DISCOVERYCENTERBANNER_MANAGE_TITLE' | translate }}</h1>
  </div>
  <ui-grid-one title="{{ 'DISCOVERYCENTERBANNER_MANAGE_ONE_TITLE' | translate }}" data="discoverycenterbanners" grid-options="discoverycenterbannerGridOptions" add-click="addDiscoverycenterbanner()" remove-click="removeDiscoverycenterbanner(removeEntity)" begin-cell-edit="beginEditDiscoverycenterbanner(rowEntity, colDef, triggerEvent)" after-cell-edit="afterEditDiscoverycenterbanner(rowEntity, colDef, newValue, oldValue)" import-click="importDiscoverycenterbanner(grid, newObjects)" uploader="uploader" upload-click="uploadPicture()"></ui-grid-one>
</section>
