<section ng-controller="ManageEmojisController">
  <div class="page-header">
    <h1>Manage Emoji</h1>
  </div>
  <ui-grid-one title="Group" data="emojiGroups" grid-options="groupGridOptions" add-click="addGroup()" remove-click="removeGroup(removeEntity)" begin-cell-edit="beginEditGroup(rowEntity, colDef, triggerEvent)" after-cell-edit="afterEditGroup(rowEntity, colDef, newValue, oldValue)" row-selection-changed="rowSelectionChangedGroup(row)" uploader="uploader"></ui-grid-one>
  <br />
  <ui-grid-one title="Emoji" name="selectEmojiGroup.name" data="emojis" grid-options="emojiGridOptions" add-click="addEmoji()" remove-click="removeEmoji(removeEntity)" after-cell-edit="afterEditEmoji(rowEntity, colDef, newValue, oldValue)" import-click="importEmoji(grid, newObjects)"></ui-grid-one>
</section>
