<section ng-controller="ManageEmoticonsController">
  <div class="page-header">
    <h1>{{ 'EMOTICON_MANAGE_TITLE' | translate }}</h1>
  </div>
  <ui-grid-one title="{{ 'EMOTICON_MANAGE_GROUP_TITLE' | translate }}" data="emoticonGroups" grid-options="groupGridOptions" add-click="addGroup()" remove-click="removeGroup(removeEntity)" begin-cell-edit="beginEditGroup(rowEntity, colDef, triggerEvent)" after-cell-edit="afterEditGroup(rowEntity, colDef, newValue, oldValue)" row-selection-changed="rowSelectionChangedGroup(row)" uploader="uploader"></ui-grid-one>
  <br />
  <ui-grid-one title="{{ 'EMOTICON_MANAGE_ONE_TITLE' | translate }}" name="selectEmoticonGroup.name" data="emoticons" grid-options="emoticonGridOptions" add-click="addEmoticon()" remove-click="removeEmoticon(removeEntity)" after-cell-edit="afterEditEmoticon(rowEntity, colDef, newValue, oldValue)" import-click="importEmoticon(grid, newObjects)"></ui-grid-one>
</section>
